.facebook{
    background-color: lightskyblue;
}
.facebook:hover object {
    cursor: pointer; 
    transform: rotate(360deg);
    
}

.facebook:hover object{
    transition: transform 2s ease-in-out; 
   
}


    
